.Create_an_account a {
    color:white;
    text-decoration: none;
}

.Log_in a {
    color:white;
    text-decoration: none;
}

.Next a{
    color:white;
    text-decoration: none;
}

.ID25 a{
    color:black;
    text-decoration: none;
}

.ID31 a{
    color: black;
    text-decoration: none;
}

.Search_bs a{
    color:white;
    text-decoration: none;
}

.Current_Capacity__6 a{
    color: black;
    text-decoration: none;
}

.Office_Name_I a{
    color: black;
    text-decoration: none;
}

.Samsun_Atakum a{
    color: black;
    text-decoration: none;
}

.ID47 a{
    color: rgba(81,255,98,1);
    text-decoration: none;
}

.Back a{
    color:white;
    text-decoration: none; 
}

.Create_a_Request a{
    color:white;
    text-decoration: none; 
}

.Got_it a{
    color: rgba(81,255,98,1);
    text-decoration: none;
}

.Contact_with_Office a{
    color:white;
    text-decoration: none; 
}

.Book_the_Office a{
    color:white;
    text-decoration: none; 
}

.Office_Name_II_bq a{
    color: black;
    text-decoration: none;
}

.Current_Capacity__5 a{
    color: black;
    text-decoration: none;
}

.ID47 a{
    color: rgba(81,255,98,1);
    text-decoration: none;
}

.Done a{
    color:white;
    text-decoration: none; 
}

.Log_out a{
    color: black;
    text-decoration: none;
}

.Log_in a{
    color:white;
    text-decoration: none; 
}